body{
    background-color: black;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
._word{
    display: flex;
    cursor:default;
}
._letter{
    transition: .5s;
    &:hover{
        transition: .5s;
    }
}